body{
  background-color: #E5E5E5
}

.container{
  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* flex-direction: column; */
}

.img{
  width: 370px;
  margin-top: 0px;
  margin-left: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* @media (max-width:770px){
  .container{
    margin: 0 10%;
  }
  .img{
    width: 100%;
  }
} */